body {
    background-color: white;
}
.casestudy {
    background-color: lightgray;
    width: 100%;
    justify-content: space-around;
    display: inline-block;
}

.headerparent {
    text-align: center
}

.headerelement {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

/*.Header1 {
    width: 500px;
    height: 100px;
}
.Header2 {
    width: 500px;
    height: 100px;
} */

.nav {
text-align: center;
font-size: 30px;
}

.nav-item {
    display: inline-block;
    margin: 1%;
}

/* unvisited link */
a:link {
    color: darkgray;
  }
  
  /* visited link */
  a:visited {
    color: darkgrey;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  

.Intro {
    text-align: center;
    font-size: 20px;
}

.flexContainer1 {
    display: flex;
    justify-content: space-around;
}

.role {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
}

.tools {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
}

.goal {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 20px;
}

.challenge {
    text-align: center;
    font-size: 20px;
}

.RA {
    text-align: left;
    margin: 5%;
    font-size: 20px;
}

.jumbotron-fluid {
    background-color: lightblue;
    width: 70%;
    margin: 3%;
    padding: 7%;
    height: 10%;
    justify-content: center;
    font-size: 20px;
}

.CW {
    text-align: left;
    margin: 5%;
    font-size: 20px;
}

.container1 {
    width: 70%;
    margin: 3%;
    padding: 7%;
    background-color: lightgray;
}

.col {
    display: inline-block;
}

/*.lowfi1 {
    width: 300px;
    height: 100px;
    flex-flow: row;
}

.lowfi2 {
    width: 300px;
    height: 100px;
    flex-flow: row;
}*/

.DP {
    text-align: left;
    margin: 5%;
    font-size: 20px;
}

.guide {
align-items: center;
}

/*.HF {
    text-align: left;
    margin: 5%;
    font-size: 20px;
}*/

.hifi {
    display: flex;
    align-items: center;
}

.flexContainer {
    width: 100%;
    background-color: lightgray;
    margin: 5%;
}

.test {
   text-align: left; 
   margin: 5%;
   font-size: 20px;
}

.footer {
    text-align: left;
    margin: 5%;
    font-size: 20px;
}

